.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

body {
  background-image: url('../img/background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  }

.btn-group-vertical {
  padding: 5px;
  width: 100px;
  align-items: center;
  top: 5%;
  left: 15%;
}

#cat {
  position: fixed;
  bottom: 10%;
  left: 28%;
  width: 125px;
}

#cat_speak{
  display: none;
  position: fixed;
  top: 37%;
  bottom: 30%;
  left: 33%;
}

#petHand, #yarn, #zzz{
  display: none;
  position: fixed;
  top: 60%;
  left: 32%;
  width: 65px;
  height: 65px;
}

#zzz {
  left: 45%
}

#yarn{
  top: 90%;
  left: 45%
}

#shower{
  display: none;
  position: fixed;
  width: 125px;
  top: 47%;
  left: 33%;
}

button {
  height: 50px;
}

#love_bar{
  height: 30px;
  width: 300px;
}
  
#heart{
  height: 50px;
}

#myContainer{
  display: none;
}

#enterName{
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

#submit{
  border-radius: 10px;
  background-color: rgb(10, 61, 27);
  color: white;
}
