body{
    background-image: url("../img/home.png");
    font-family: 'Brush Script MT', cursive;
}

p, h3{
    color: #2f2457cb;
    font-weight: bold;
}

input{
    width: 75px;
    border-radius: 5px;
    border: #ded9e0;
}

#maincontainer{
    width: 400px;
    text-align: center;
    color: #2f2457cb;
    top: 20px;
    border-radius: 25px;
    background-color: #e7b08270;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
}

#help_btn{
    margin-left: 70%;
}

#help_info{
    display: none;
}

#login{
    display: none;
}

#signup{
    display: none;
}

#loginBtn, #signupBtn {
    border-radius: 15px 15px;
    width: 100px;
    background-color: rgba(34, 35, 116, 0.76);
    color: #ded9e0;
    text-emphasis: bold;
}